// Colores principales
$color-primario:#8B4513;
$color-secundario:#D2691E;
$color-terciario:#CD853F;

$color-fondo: #FFF8DC;
$color-superficie: #FFFAF0;
$color-superficie-clara:#FFFAF0;

$color-texto-primario:  #3E2723;
$color-texto-secundario: #6D4C41;
$color-texto-deshabilitado: #71717A;

$color-exito: #00b894;
$color-error: #d63031;
$color-advertencia: #fdcb6e;

$fuente-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;