// Colores principales
$color-primario:rgba(31, 156, 133);
$color-secundario: rgba(45, 212, 191);
$color-terciario: rgba(255, 107, 157);

$color-fondo:rgba(47, 233, 198);
$color-superficie: rgba(255, 255, 255);
$color-superficie-clara: rgba(39, 194, 165);

$color-texto-primario: rgba(241, 245, 249);
$color-texto-secundario: rgba(0, 0, 0);
$color-texto-deshabilitado: rgba(100, 116, 139);

$color-exito: rgba(16, 185, 129);
$color-error: rgba(196, 0, 0);
$color-advertencia: rgba(251, 191, 36);

$fuente-principal: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;